/* *{
    margin:0;
    padding:0;
    color: black;
} */
.container{
 height:100vh;
 display: grid;
 grid-template-columns:  10% 80% 10%;
}
.middle{
 background-color: grey;
}
.quizTitle{
 font-size:22px;
 font-weight: 900;
 color:black;
}

.answerContainer{
 display: flex;
 flex-direction: column; 
 justify-content:flex-start;
 align-items: center;
 
 
 /* justify-content: flex-end; */
}

.answerContainer button{
 background-color: #0c8f0c;
 margin: 12px;
 background-color: #eeeeee;
 color: black;
 width: 78vw;
 display: flex;
 justify-content: flex-start;
 
}
.nxtbtn{
 margin: 12px !important; 
 background-color: #fff !important;
 color: #0c8f0c !important;
 border: 1px solid !important;

}
.nxtbtn:hover{
 background:#0c8f0c  !important;
 color:  #fff !important;


}
button span{
 align-items: center;
 padding:5px;
 margin: 5px;
 color: black;
 font-size: 25px;
 height:fit-content;
 width:fit-content;
 border-radius: 50%;
 border: 1px solid rgb(140, 122, 122);
 display: flex;
 justify-content: center;

}
span.MuiTouchRipple-root{
 display: none !important;
}